body {
    margin: 0;
    background-color: black;
    height: 100vh;
    overflow: hidden;
}

#root {
    text-align: center;
    height: 100vh;
    overflow: hidden;
}

#root h1 {
    font-family: 'Press Start 2P', Consolas, monospace;
    color: white;
}

canvas {
    position: absolute;
    top: 80px;
}

#root canvas {
    right: 100px;
}

#second canvas {
    left: 100px;
}

.back-button {
    position: absolute;
    left: 15px;
    top: 15px;
    background-color: #333;
    padding: 5px 10px;
    border: #fff solid 2px;
    border-radius: 7px;
    text-decoration: none;
    color: #fff;
}