<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Main Page</title>
    <link rel="stylesheet" type="text/css" href="./css/home.css">
</head>
<body>
  <h1 th:text="|Welcome ${name} to the Game Menu|"></h1>
  <div class="button-container">
    <a href="/single-player" class="button">Одиночная игра1</a>
    <a href="/hardmode-game" class="button">Hard mode(для сильных)</a>
    <a href="/online-game" class="button">Онлайн игра</a>
    <a href="/leaderboard" class="button">Таблица результатов</a>
  </div>
</body>
</html>